.idea/
runs/**/*.pt
runs/**/*.pth
runs/**/*.ckpt
runs/**/*.json


reports/**/**/*.csv
reports/**/**/*.json
reports/**/**/**/*.png

__pycache__/
*.pyc

data/processed/*
!data/processed/.gitkeep

.tmp.driveupload/